$base-color: #000000;
$text-color: rgb(135, 135, 135);

* {
  box-sizing: border-box;
}

html,
body {
  // background-color: rgb(218,218,193);
  // color: rgb(135, 135, 135);
  background-color: #3c3c3c;
  background-color: #1d1d1d;
  color: #000000;
  color: rgb(218, 218, 193);
  color: $text-color;
  font-family: Times New Roman;
  margin: 0;
  padding: 0;
  font-size: 20px;
  height: 100%;
  // letter-spacing: 1px;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


nav {
  // background-color: $text-color;
  // color: #000000;
  height: 50px;
}

.mix-wrapper {
  width: 300px;
  margin: 40px 30px;
  // border: 1px solid lightgray;
}

// .testmix {
//   margin: -40px 20px 70px 400px;
// }

.title {
  padding: 17px;
  // border-bottom: 2px solid black;
}

.mix-artwork {
  width: 320px;
  height: 320px;
  cursor: pointer;
}

.tracklist-modal {
  background-color: rgba(135, 135, 135, 0.8);
  background-color: rgba(218, 218, 193, 0.69);
  background: rgba(255, 255, 255, 0.17);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.3px);
  -webkit-backdrop-filter: blur(4.3px);
  color: $text-color;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  white-space: pre-wrap;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.tracklist-wrapper {
  background-color: $base-color;
  color: $text-color;
  border: 1px solid $text-color;
  padding: 10px 90px 10px 10px;
  font-size: 14px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
}

.open-mix {
  display: flex;
}

.open-mix-options {
  justify-self: flex-end;
  background-color: $text-color;
  height: min-content;
  cursor: pointer;
}

.open-tracklist-modal {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(100%);
}

.open-tracklist-modal {
  margin: 2px 4px 0px 4px;
}

.close-mix-window {
  margin: 4px 4px 0px 4px;
}


// .close-mix-window {
//   color: $text-color;
//   padding: 2px;
// }

.tracklist-toggle {
  color: $text-color;
  width: min-content;
  display: inline;
  float: right;
}

a {
  color: $text-color;
  padding: 17px;
  text-decoration: none;
}

.footer {
  // position: absolute;
  bottom: 0;
  padding: 20px;
  margin-top: auto;
}

.mix-section {
  display: flex;
  flex-wrap: wrap;
}

.mix-wrapper {
  flex: 1;
}

main {
  background: repeating-linear-gradient(0deg,
      $text-color 2px,
      $base-color 5px,
      #000000 4px,
      rgb(0, 0, 0) 6px,
      rgb(91, 91, 91) 8px,
      $base-color 2px);
  background-size: 200% 200%;
  animation: barberpole 200s ease-in-out infinite;
}

// animation-timing-function: ease-in-out;

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 50% 50%;
  }
}

// @keyframes testing {
//   0% {
//     transform: rotate3d(3, 4, 5, 3deg);
//   }
//   50% {
//     transform: rotate3d(1, 1, 1, 2deg);
//   }
//   100% {
//     transform: rotate3d(1, 1, 1, 2deg);
//     // transform: scale(0);
//   }
// }

// .testmix {
//   animation: testing 10s infinite;
// }

